<div class="drop-nav-mob">
  <select id="customSelect" onChange="window.location.href=this.value">
    <!-- <option value="index.html">Link Name</option> -->
    <option value="production.pc.apm.html">АРМ</option>
    <option value="production.pc.pevm.html">ПЭВМ</option>
    <option value="production.monoblocks.html">Personal</option>
    <option value="production.monoblocks.html">Office</option>
    <option value="production.monoblocks.html">Optimal</option>
    <option value="production.monoblocks.html">Extreme</option>
    <option value="production.monitors.html">Мониторы</option>
    <option value="production.barebones.html">Баребоны</option>
    <option value="production.servers.html">Серверы</option>
    <option value="production.components.motherboard.html">Материнские платы</option>
  </select>
</div>