<div class="menu-wrap">
  <ul class="menu">
    <li class="menu-item menu-dropdown active">
      <div class="menu-dropdown-icon"></div>
      <a href="production.pc.html">Персональные компьютеры</a>
      <ul>
        <li><a href="production.pc.apm.html">АРМ</a></li>
        <li><a href="production.pc.pevm.html">ПЭВМ</a></li>
        <li><a href="production.pc.s-units.html">Системные блоки</a></li>
      </ul>
    </li>
    <li class="menu-item menu-dropdown">
      <div class="menu-dropdown-icon"></div>
      <a href="production.monoblocks.html">Моноблоки</a>
      <ul>
        <li><a href="production.monoblocks.personal.html">Personal</a></li>
        <li><a href="production.monoblocks.office.html">Office</a></li>
        <li><a href="production.monoblocks.optimal.html">Optimal</a></li>
        <li><a href="production.monoblocks.extreme.html">Extreme</a></li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="production.monitors.html">Мониторы</a>
    </li>
    <li class="menu-item">
      <a href="production.barebones.html">Баребоны</a>
    </li>
    <li class="menu-item">
      <a href="production.servers.html">Серверы</a>
    </li>
    <li class="menu-item menu-dropdown">
      <div class="menu-dropdown-icon"></div>
      <a href="production.components.html">Комплектующие</a>
      <ul>
        <li><a href="production.components.motherboards.html">Матплаты</a></li>
      </ul>
    </li>

  </ul>
</div>