<div class="page-footer">

  <div class="footer-mob">
    <div class="social footer-mob-social">
      <a href="#!" class="social-item social-item-vk"></a>
      <a href="#!" class="social-item social-item-fb"></a>
      <a href="#!" class="social-item social-item-yt"></a>
    </div>
    <div class="footer-mob-nav">
      <div class="footer-mob-nav-link">Политика конфиденциальности</div>
      <div class="footer-mob-nav-link">Публичная оферта</div>
    </div>
    <div class="footer-mob-copyright">©2021 RDW Computers</div>
    <div class="footer-mob-contacts">
      <div class="footer-mob-contacts-title">Контакты</div>
      <div class="footer-mob-contacts-item">
        <a href="tel:+74954806845">+7 495 480-68-45</a>
      </div>
      <div class="footer-mob-contacts-item">
        <a href="#!">Схема проезда</a>
      </div>
      <div class="footer-mob-contacts-item">
        109443, г. Москва, Волгоградский пр-кт, д. 145/8, этаж 1, помещ. 4, комн. 1
      </div>
    </div>
  </div>

  <div class="footer-desk">
    <div class="footer-desk-container">

      <div class="footer-desk-row footer-desk-row-logo">
        <div class="footer-desk-logo"></div>
      </div>

      <div class="footer-desk-row footer-desk-row-menu-tablet">
        <ul class="footer-menu-tablet">
          <li><a href="about.html">О компании</a></li>
          <li><a href="production.pc.html">Продукция</a></li>
          <li><a href="partners.html">Партнёрам</a></li>
          <li><a href="service.html">Сервис</a></li>
        </ul>
      </div>

      <div class="footer-desk-row footer-desk-row-menu-desk">
        <div class="footer-desk-menu">
          <div class="footer-desk-menu-title">О компании</div>
          <a href="#!" class="footer-desk-menu-link">История</a>
      <!--    <a href="#!" class="footer-desk-menu-link">Производство</a>  -->
          <a href="#!" class="footer-desk-menu-link">Лицензии и сертификаты</a>
          <a href="#!" class="footer-desk-menu-link">Вакансии</a>
        </div>
      </div>

      <div class="footer-desk-row footer-desk-row-menu-desk">
        <div class="footer-desk-menu">
          <div class="footer-desk-menu-title">Продукция</div>
          <a href="production.pc.html" class="footer-desk-menu-link">Персональные компьютеры</a>
          <a href="production.monoblocks.html" class="footer-desk-menu-link">Моноблоки</a>
          <a href="production.monitors.html" class="footer-desk-menu-link">Мониторы</a>
          <a href="production.barebones.html" class="footer-desk-menu-link">Баребоны</a>
          <a href="production.servers.html" class="footer-desk-menu-link">Серверы</a>
          <a href="production.components.html" class="footer-desk-menu-link">Комплектующие</a>
        </div>
      </div>

      <div class="footer-desk-row footer-desk-row-menu-desk">
        <div class="footer-desk-menu">
          <div class="footer-desk-menu-title">Партнёрам</div>
          <a href="#!" class="footer-desk-menu-link">О сотрудничестве</a>
      <!--    <a href="#!" class="footer-desk-menu-link">Партнерская программа</a>
          <a href="#!" class="footer-desk-menu-link">Регистрация</a>
          <a href="#!" class="footer-desk-menu-link">Сертификаты</a>
          <a href="#!" class="footer-desk-menu-link">Акция</a>
          <a href="#!" class="footer-desk-menu-link">База знаний</a>
          <a href="#!" class="footer-desk-menu-link">Контакты</a> -->
        </div>
      </div>

      <div class="footer-desk-row footer-desk-row-menu-desk">
        <div class="footer-desk-menu">
          <div class="footer-desk-menu-title">Cервис</div>
          <a href="#!" class="footer-desk-menu-link">Гарантии</a>
          <a href="#!" class="footer-desk-menu-link">Услуги для ПК</a>
          <a href="#!" class="footer-desk-menu-link">Персонализация</a>
          <a href="#!" class="footer-desk-menu-link">Поддержка</a>
          <a href="#!" class="footer-desk-menu-link">Сервисные центры</a>
        </div>
      </div>

      <div class="footer-desk-row">
        <div class="footer-desk-menu">
          <div class="footer-desk-menu-title">Контакты</div>
          <a href="#!" class="footer-desk-menu-link">+7 495 480-68-45</a>
          <a href="#!" class="footer-desk-menu-link">109443, г. Москва, Волгоградский пр-кт, д. 145/8, этаж 1, помещ. 4, комн. 1</a>
          <a href="#!" class="footer-desk-menu-link">Схема проезда</a>
        </div>
      </div>

      <div class="footer-desk-row">
        <div class="footer-desk-menu">
          <div class="social footer-desk-social">
            <a href="#!" class="social-item social-item-vk"></a>
            <a href="#!" class="social-item social-item-fb"></a>
            <a href="#!" class="social-item social-item-yt"></a>
          </div>
          <a href="#!" class="footer-desk-menu-link">Политика	конфиденциальности</a>
          <a href="#!" class="footer-desk-menu-link">Публичная оферта</a>
          <a href="#!" class="footer-desk-menu-link">©2021 RDW Computers</a>
        </div>
      </div>
    </div>
  </div>
  <div class="cookie-warning">
    <div class="container">	Мы используем cookie-файлы для оптимизации сайта и улучшения его качества. Продолжая работу с сайтом, вы подтверждаете согласие с <a href="#">политикой конфиденциальности</a>.</div>
  </div>
</div>