<header class="header header-fixed">

  <div class="container header-container">

    <a href="index.html" class="header-logo"></a>

    <div class="header-nav">
      <ul class="header-menu">
        <li><a href="about.html">О компании</a></li>
        <li><a href="service.html">Сервис</a></li>
        <li class="header-droplink">
          <a href="#!">Продукция</a>
          <ul class="header-menu-dropdown">
            <li><a href="production.pc.html">ПК</a></li>
            <li><a href="production.monoblocks.html">Моноблоки</a></li>
            <li><a href="production.monitors.html">Мониторы</a></li>
            <li><a href="production.barebones.html">Баребоны</a></li>
            <li><a href="production.servers.html">Серверы</a></li>
            <li><a href="production.components.html">Комплектующие</a></li>
          </ul>
        </li>
        <li><a href="partners.html">Партнёрам</a></li>
        <li><a href="contacts.html">Контакты</a></li>
      </ul>
    </div>

    <div class="auth">

      <div class="auth-top">
        <div class="auth-top-lang">
          <a href="#!">ru</a>
          <a href="#!">en</a>
        </div>
        <div class="auth-top-profile">Войти</div>
      </div>

      <div class="auth-bottom">
        <a href="tel:74954806845" class="auth-bottom-phone">+7 495 480-68-45</a>
        <div class="auth-bottom-lang">
          <a href="#!">ru</a>
          <a href="#!">en</a>
        </div>
        <div class="auth-bottom-search">
          <div class="auth-bottom-search-icon"></div>
          <div class="auth-bottom-search-field">
            <input type="text" placeholder="Поиск">
          </div>
        </div>
      </div>

    </div>

    <div class="header-icon">
      <div id="nav-icon-open" class="nav-icon"><span></span></div>
    </div>

  </div>

</header><!--/.header end-->