 
    <div class="news-main-img">
    <picture>
        <source media="(max-width: 500px)" srcset="img/news/news-1-320.webp">
        <source media="(max-width: 1000px)" srcset="img/news/news-1-768.webp">
        <source media="(max-width: 1400px)" srcset="img/news/news-1-1200.webp">
        <img src="img/news/news-1-1600.webp" alt="">
    </picture>
</div>



<div class="news-main-date">26 сентября 2021 года</div>

<div class="news-main-title">
    <h2>
        Системные блоки RDW Office теперь доступны в рознице
    </h2>
</div>

<div class="news-main-text">

    <p>
        RDW Office – компактный и недорогой системный блок, изначально разработанный и собранный в качестве универсального рабочего компьютера. Однако рынок показал, что он более чем востребован и в качестве стационарного домашнего компьютера – при условии бюджетной стоимости, разумеется.
    </p>
    <p>
        Технические характеристики Office и так заметно превосходят рабочие надобности рядового бухгалтера или менеджера: четырехъядерный AMD A8, 4Гб оперативной памяти и 2Гб видео, SSD на 256Гб, возможность подключить солидное количество периферии (одних USB-портов аж 6 штук). Да кроме того – неплохой запас на расширение производительности. Можно и видео посмотреть, и поработать, и не очень требовательную игру запустить. Совершенно универсальная для дома вещь – и пользователи это оценили.
    </p>
    <p>
        Но решающим фактором для покупателей оказалась все же цена. Российская сборка сделала Office абсолютным лидером ассортимента ритейлера по стоимости, даже с учетом отнюдь не последних по мощности комплектующих. Из готовых решений полки «Ситилинка», где выставлены системные блоки, дешевле предлагают только неттопы прошлого поколения – с соответствующими форм-фактору характеристиками и ограничениями.
    </p>
    <p>
        Но, конечно, по-настоящему подтверждают актуальность этой техники в b2c-сегменте ее востребованность. Новинка уже за три месяца стала «хитом продаж» ритейлера и собрала множество положительных отзывов пользователей.
    </p>

</div>

<div class="sub-nav news-main-sub-nav-mob">
    <div class="sub-nav-link">
        <a href="#">Архив</a>
    </div>
</div>