<div class="news-main-img">
    <picture>
        <source media="(max-width: 500px)" srcset="img/news/news-6-320.webp">
        <source media="(max-width: 1000px)" srcset="img/news/news-6-768.webp">
        <source media="(max-width: 1400px)" srcset="img/news/news-6-1200.webp">
        <img src="img/news/news-6-1600.webp" alt="">
    </picture>
</div>



<div class="news-main-date">8 сентября 2021 года</div>
<div class="news-main-title">
    <h2>Настроение на импортозамещение</h2>
</div>
<div class="news-main-text">

    <p>Возвращаемся к знаковому событию минувшей недели: дебюту бренда RDW Computers на площадке крупнейшего
        IT-мероприятия России. </p>

    <p>Изменения мирового IT-рынка коснулись каждого участника саммита. Вынужденная разобщенность заставила общество
        искать новые форматы коммуникации. Человечество изолировали, но оно изловчилось и многое стало делать удалённо.
        Так пандемия нежданно заполучила статус некой движущей силы прогресса. Эта сила подхлестнула небывалый спрос не
        только на компьютеры. Производители компьютерной техники были застигнуты врасплох. Уровень предсказания спроса,
        располагавшийся в районе 3-х процентов, внезапно подскакивает до 50-ти! В цикле производства клиентских
        устройств – ступор. Ведь миру сразу потребовалось всё: компьютерные чипы и полупроводники, ноутбуки и
        компьютеры, серверы и системы хранения данных. И, как следствие, рост цен на материнские платы, элементную базу
        и увеличение сроков поставок.
    </p>

    <p>А что же Россия? Она раньше не стояла в стороне. И сейчас делать этого не собирается! Ведь над экономикой страны
        витает настроение. Настроение на импортозамещение. Вот и решили организаторы MERLION IT Summit-2021 собрать все
        заинтересованные стороны вместе, чтобы нарастить мускулы цифровизации в мышечном каркасе российской экономики.
    </p>

    <p>В медийном поле не смолкают разговоры о развитии наши национальных проектов с опорой на электронную
        промышленность. Эксперты настаивают на комфортном механизме регулирования на рынке электронной продукции.
        Производители жаждут налоговых и тарифных льготы, изнывают без таможенных преференций. И все мечтают, что вдруг
        родится в недрах правительственных такое сказочное преимущество, которое возьмёт, да и наделит собою российские
        компании на внутреннем рынке. Так и произошло! Постановление Правительства РФ № 1432 от 28 августа 2021 года
        появилось аккурат накануне MERLION IT Summit-2021. И успело посеять в рядах участников IT-рынка смятение. Ещё
        бы! Минпромторг предложил запретить госзакупки импортных интегральных микросхем, смарт-карт, ноутбуков,
        планшетов, компьютеров, серверов и светотехнической продукции. В отношении остальной электроники и медицинской
        техники госзаказчиков обязали применять правило «второго лишнего». То есть отклонять все заявки на участие в
        закупке, в которых предлагается импортная продукция, если подана хоть одна заявка с предложением поставки
        российской электроники. Такова реальность. А вот каковы впечатления команды RDW Computers от прошедшего
        IT-саммита.
    </p>

    <p>Руководитель направления НИОКР Иван АФИНОГЕНОВ:</p>
    <p><em>- IT-cаммитом все остались довольны. Показали себя, нас услышали и к нам проявили интерес – это главное. Наш
            стенд не простаивал ни разу. Подходили и мелкие реселлеры, и дистрибуторы покрупнее. Узнавали, что и к чему.
            Спрашивали, готовы ли мы? А презентация Алексея Карасева вызвала определённое любопытство. И когда мы
            вернулись на стенд после его выступления, то там уже наблюдался спрос. Сейчас от фазы демонстрации продукта
            надо перейти к фазе обработки клиентских запросов и фазе его продажи. Важно, чтобы результаты выставки
            помогли компании двинутся дальше.</em></p>

    <p>Менеджер по работе с клиентами ОТП Дарья СМИРНОВА:</p>

    <p><em>- На мой взгляд, работа на выставке для RDW Computers была очень важна и полезна. В первую очередь, как
            возможность заявить о себе, о старте работы на МПТ-рынке с нашим собственным производством и оборудованием.
            Мы познакомились с компетентными партнерами и потенциальными заказчиками. А количество запросов, сообщений и
            интерес, проявленный к нашему оборудованию на следующий день после выставки, подтверждает целесообразность
            нашего участия в MERLION IT Summit-2021. Если оценивать интерес партнеров к предложениям RDW Computers, то
            это 7 баллов из 10. Российское оборудование пока не может конкурировать по качеству с иностранными брендами.
            Однако курс на импортозамещение дает толчок для стимуляции развития техники. </em></p>

    <p>Коммерческий директор RDW Computers Алексей КАРАСЕВ:</p>

    <p><em>- Еще в августе мы существовали в рынке, наполненном слухами, о замораживании механизма импортозамещения на
            два года. И это не добавляло уверенности. Вот почему для нас было важно войти в рынок максимально готовыми.
            И с точки зрения подтверждения российскости выпускаемой нами техники. И наличия на складе готовой продукции.
            И комплекса маркетинговых мероприятий. И актуальности презентационных материалов. Только так мы могли
            заявить всему рынку о том, что мы – есть! Всё сделано правильно! Теперь мы готовы к реальному
            взаимодействию. Что дальше? Будем заключать партнерские соглашения с российскими вендорами. Продолжать
            тестировать нашу материнскую плату и различные конфигурации нашего оборудования на производительность и
            совместимость с российскими софтверными продуктами. И ждать официальных заключений от ведущих производителей
            операционных систем в России.</em>
    </p>

    <p>Бренд RDW Computers – сертифицированная российская компьютерная техника, отвечающая требованиям цифровой
        безопасности государственной инфраструктуры. Работает с 2015 года.
    </p>

</div>

<div class="sub-nav news-main-sub-nav-mob">
    <div class="sub-nav-link">
        <a href="#">Архив</a>
    </div>
</div>