<div class="news-main-img">
    <picture>
        <source media="(max-width: 500px)" srcset="img/news/news-4-320.webp">
        <source media="(max-width: 1000px)" srcset="img/news/news-4-768.webp">
        <source media="(max-width: 1400px)" srcset="img/news/news-4-1200.webp">
        <img src="img/news/news-4-1600.webp" alt="">
    </picture>
</div>



<div class="news-main-date">2 сентября 2021 года</div>
<div class="news-main-title">
    <h2>Бренд RDW Computers на MERLION IT Summit: первый выход в свет </h2>
</div>
<div class="news-main-text">

    <p>Бренд RDW Computers дебютирует со своими клиентским устройствами на престижном MERLION IT Summit-2021. Ещё
        накануне в Сколково вместе с оборудованием и запасами презентационных материалов выехали маркетолог Иван Лыжин и
        тестировщик Максим Гагин. И теперь – наши выставочные образцы готовы во всём своем технологическом обаянии
        предстать перед участниками крупнейшего IT-мероприятия в России.
    <p>На выставочном стенде RDW Computers демонстрируются:</p>
    <ul>
        <li>материнская плата RDW-MB-B450M для процессоров AMD на базе чипсета АМ4+; </li>
        <li>автоматизированное рабочее место (АРМ) на базе RDW-MB-B450M в корпусах Powerman ES555. В комплекте –
            собственный монитор 23,8 RDW-2401 на базе матрицы типа VA, устройства ввода клавиатурой и мышью Logitech
            Wireless Desktop MK345;</li>
        <li>моноблок RDW Optimal 27BA;</li>
        <li>моноблок на базе тестового образца корпуса моноблока RDW 23”;</li>
        <li>системный блок RDW на базе материнской платы и процессора «Байкал».</li>
    </ul>


    <p>Системные блоки RDW работают под управлением российской ОС Альт Линукс. Все устройства RDW Computers,
        представленные на MERLION IT Summit-2021, имеют заключение Минпромторга России и входят в Единый реестр
        российской радиоэлектронной продукции.</p>

    <p>Наш десант из отдела тендерных продаж и отдела маркетинга уже высадился в Московской школе управления. Именно там
        развернута дискуссионная и выставочная площадка саммита.</p>

    <p>Внимание всех, кто близок к IT-сфере, приковано сегодня к MERLION IT Summit-2021. Организаторы ожидают, что
        гибридный формат мероприятия соберет аудиторию порядка из участников офлайн-части и зрители онлайн-трансляции,
        среди которых российские и иностранные руководители, топ-менеджеры и технические эксперты из известных
        IT-компаний.</p>

    <p>Бренд RDW Computers – сертифицированная российская компьютерная техника, отвечающая требованиям цифровой
        безопасности государственной инфраструктуры. Работает с 2015 года.</p>


</div>

<div class="sub-nav news-main-sub-nav-mob">
    <div class="sub-nav-link">
        <a href="#">Архив</a>
    </div>
</div>