<div class="news-main-img">
    <picture>
        <source media="(max-width: 500px)" srcset="img/news/news-7-320.webp">
        <source media="(max-width: 1000px)" srcset="img/news/news-7-768.webp">
        <source media="(max-width: 1400px)" srcset="img/news/news-7-1200.webp">
        <img src="img/news/news-7-1600.webp" alt="">
    </picture>
</div>



<div class="news-main-date">13 сентября 2021 года</div>
<div class="news-main-title">
    <h2>RDW Computers: перспективный игрок в команде Минпромторга</h2>
</div>
<div class="news-main-text">
    <p>Все клиентские устройства RDW Computers произведены в России. Работают под управлением российских операционных
        систем. Входят в Единый реестр российской радиоэлектронной продукции, рекомендованный Минпромторгом для
        госзакупок.</p>
    <p>Дебют нового российского бренда RDW Computers на MERLION IT Summit-2021 состоялся 2 сентября в Московской школе
        управления Сколково. Его результатом стали порядка сотни клиентских заявок, поступивших в адрес компании. Так
        участники авторитетного IT-мероприятия проявили интерес к клиентским устройствам нового игрока российского
        IT-рынка. Интерес непраздный. Системные блоки, мониторы и моноблоки RDW Computers производятся в России. Они
        работают под управлением российских операционных систем. И входят в Единый реестр российской радиоэлектронной
        продукции, рекомендованный Минпромторгом для процедуры госзакупок.</p>
    <p>В июле 2021-го собственная материнская плата RDW-MB-B45M V.1 была внесена в этот систематизированный перечень
        радиоэлектроники и телекоммуникационного оборудования, а уже в августе свои реестровые записи получили мониторы,
        моноблоки и системные блоки RDW Computers.</p>
    <p>Материнская плата RDW-MB-B45M V.1, на базе которой собраны клиентские устройства RDW Computers, была построена
        компанией в 2020 году. RDW-MB-B45M V.1 стала первой сертифицированной материнкой в России, произведенной на базе
        процессора AMD. В её производстве применена технология двустороннего поверхностного монтажа (SMT). А финишное
        покрытие печатной платы выполнено с использованием технологии иммерсионного золочения (Immersion Gold).
        Совокупность этих методики улучшает характеристики и повышает эксплуатационные качества материнской платы от RDW
        Computers.</p>
    <p>В числе клиентских устройств, которые компания RDW Computers предлагает к участию в госпрограммах по
        импортозамещению, есть автоматизированное рабочее место (АРМ) и персональная электронно-вычислительная машина
        (ПЭВМ). </p>
    <p>Уже проведены совместные испытания системных блоков на базе процессора Athlon 3000G и материнской платы
        RDW-MB-B450M V.1 с операционными системами Astra Linux, Alt Linux и Ред ОС. Итогом этой совместной работы стало
        получение сертификатов совместимости и партнёрство с двумя российскими компаниями-разработчиками операционных
        систем: «Базальт СПО» и «РЕД СОФТ».</p>
    <p>Бренд RDW Computers – сертифицированная российская компьютерная техника, отвечающая требованиям цифровой
        безопасности государственной инфраструктуры. Работает с 2015 года.</p>
    
    <p>
        Ссылка на источник фотографии: <a href="https://minpromtorg.gov.ru/">minpromtorg.gov.ru</a>
    </p>

</div>

<div class="sub-nav news-main-sub-nav-mob">
    <div class="sub-nav-link">
        <a href="#">Архив</a>
    </div>
</div>