<div class="news-main-img">
    <picture>
        <source media="(max-width: 500px)" srcset="img/news/news-5-320.webp">
        <source media="(max-width: 1000px)" srcset="img/news/news-5-768.webp">
        <source media="(max-width: 1400px)" srcset="img/news/news-5-1200.webp">
        <img src="img/news/news-5-1600.webp" alt="">
    </picture>
</div>



<div class="news-main-date">2 сентября 2021 года</div>
<div class="news-main-title">
    <h2>Бренд RDW Computers на MERLION IT Summit: ждем расширения клиентской сети! </h2>
</div>
<div class="news-main-text">

    <p>Центральная тема MERLION IT Summit-2021 – «Архитектура новой реальности».</p>

    <p>2021 год лишил участников международного IT-рынка последних иллюзий. Рынок утратил свою либеральность и
        открытость. На фонде пандемии возрос спрос на компьютерную технику. Дефицит полупроводниковых компонентов,
        производимых иностранными компаниями, лихорадит работу автомобильных конвейеров и линий сборки бытовой техники.
        Ажиотажный бум на компьютерные чипы диктует новые цены. Подтолкнет ли эта ситуация внутренний спрос в объятия
        отечественных производителей? Готовы ли российские производители стать панацеей для государственных заказчиков?
        Участники MERLION IT Summit-2021 это сейчас как раз и выясняют.</p>

    <p>Деловая программа MERLION IT Summit-2021 вобрала в себя более 40 деловых мероприятий: классические лекции,
        интервью с лидерами IT-отрасли, открытые дискуссии, практические кейсы, воркшопы и аналитические исследования. И
        на каждой дискуссионной площадке в эти минуты происходит столкновение мнений.</p>

    <p>В рамках дискуссии по теме «Сделано в России. Импортозамещение: реальные и эффективные решения» с докладом
        выступит коммерческий директор RDW Computers Алексей КАРАСЕВ.</p>

    <p>Накануне открытия MERLION IT Summit-2021 Алексей КАРАСЕВ рассказал «Новостям на Bitrix» чего ожидает наша
        компания от участия в саммите:</p>

    <p><em>- Мы работаем во времена мировых глобальных изменений. Растут цены на материнские платы и элементную базу.
            Увеличиваются сроки поставок. И августовский запрет Правительства РФ на госзакупки некоторых видов импортной
            электроники ещё как вносит диссонанс в работу IT-рынка. Но у нашей компании – есть решения! Наша продукция –
            в Едином реестре радиоэлектроники Минпромторга России. У нас отлаженный цикл производства. Широкая линейка
            клиентских устройств. Выстроенная логистика. Мы привлекательны и в отношении цены. Компания идет путем
            собственных разработок, создания производства и выстраивания надежного бизнеса. Что мы ждем от саммита?
            Конечно же, расширения нашей клиентской сети!</em></p>

    <p>Заинтересованное общение на MERLION IT Summit-2021 в самом разгаре. В Сколково бурлит людская стихия. И наши
        коллеги в этом море спроса и предложений, как раз в эту минуту, предлагают актуальные решения потенциальным
        клиентам и достойно парируют скепсис конкурентов, расположившихся на выставочных стендах по соседству. Пожелаем
        же нашей команде удачи!</p>

    <p>Бренд RDW Computers – сертифицированная российская компьютерная техника, отвечающая требованиям цифровой
        безопасности государственной инфраструктуры. Работает с 2015 года.</p>
    <p>
        Ссылка на источник фотографии: <a href="https://itsummit.merlion.com/gallery">itsummit.merlion.com/gallery</a>
    </p>

</div>

<div class="sub-nav news-main-sub-nav-mob">
    <div class="sub-nav-link">
        <a href="#">Архив</a>
    </div>
</div>