<div class="news-main-img">
    <picture>
        <source media="(max-width: 500px)" srcset="img/news/news-2-320.webp">
        <source media="(max-width: 1000px)" srcset="img/news/news-2-768.webp">
        <source media="(max-width: 1400px)" srcset="img/news/news-2-1200.webp">
        <img src="img/news/news-2-1600.webp" alt="">
    </picture>
</div>



<div class="news-main-date">13 апреля 2021 года</div>
<div class="news-main-title">
    <h2>RDW подготовил к реализации линейку техники на базе новой материнской платы российского производства</h2>
</div>
<div class="news-main-text">
    <p>Материнская плата разработана компанией под сокет AM4 процессоров AMD и уже подана на экспертизу для включения в
        реестр Минпромторга</p>
    <p>Выбор на AMD пал неслучайно за последние несколько лет производитель совершил огромный технологические скачок.
        Процессоры Ryzen серий 200030005000 по качеству и производительности встали в один ряд, например, с
        одноклассниками от Intel – но остались ощутимо дешевле. Для линейки, ориентированной, в первую очередь, на нужды
        бюджетных учреждений, принципиально важно было разработать качественный и «долгоиграющий» продукт за приемлемую
        цену – и продукты AMD как нельзя лучше вписывались в разрабатываемый комплекс.</p>
    <p>За основу при разработке был взят чипсет B450. Этот набор системной логики удовлетворяет всем требованиям для
        рабочей станции офисного работника, позволяет «разгонять» процессор в случае, если требуется более высокая
        производительность. И поддерживает установку современных комплектующих и подключение периферии, которые
        позволяют комплексу в целом оставаться актуальным достаточно долгое время.</p>
    <p>По набору возможностей материнская плата также отвечает большинству надобностей рядового пользователя. Поддержка
        DDR4 с возможностью расширения объема памяти до 128 Гб, четыре разъема SATA 3 с возможностью объединения дисков
        в RAID-массив, подключение двух SSD, 6 разъемов USB (в т.ч. 4 из них формата 3.1 Gen 1) c защитой от
        электростатики, возможность подключить до трех мониторов. Для ускорения интеграции со специфичными системами,
        плата имеет разъемы PS2, поддерживает COM-соединение (с возможностью, при необходимости, вывести разъем на
        корпус). А также позволяет установку модуля доверенной загрузки, что принципиально важно, например, для
        государственных организаций или финансовых структур.</p>
    <p>Опытные образцы ПК на основе новой материнской платы прошли внутренние испытания еще в конце 2020 года. Поточное
        производство налажено, совместно с партнерами, в Калининградской области. Сейчас к реализации готовится первая
        партия из новой линейки техники под маркой RDW, основанной на отечественной матплате. А по самой плате ведется
        экспертиза, по результатам которой будет рассматриваться вопрос о внесении в каталог ГИСП.</p>
</div>

<div class="sub-nav news-main-sub-nav-mob">
    <div class="sub-nav-link">
        <a href="#">Архив</a>
    </div>
</div>