<div class="title"><h1>Новости</h1></div>

<div class="drop-nav-mob">
  <select id="customSelect" onChange="window.location.href=this.value">
                      <!-- <option value="index.html">Link Name</option> -->
    <option value="#">Материнская плата RDW включена в Реестр Минпромторга РФ</option>
    <option value="#">RDW подготовил к реализации линейку техники на базе новой материнской платы российского производства</option>
    <option value="#">Системные блоки RDW Office теперь доступны в рознице</option>
    <option value="#">Продукция Компании РДВ Технолоджи в реестре Минпромторга РФ</option>
    <option value="#">Вычислительное оборудование RDW Computers под задачи национального проекта «Здравоохранение»</option>
    <option value="#">Опыт RDW Technology для ФНС и ФСИН</option>
    <option value="#">Решение RDW Technology для АО ВОЕНТЕЛЕКОМ</option>
    <option value="#">ПК RDW Computers для РЕСО-Гарантия</option>
    <option value="#">Представляем ПК RDW Computers Office 101</option>
    <option value="#">Разрыв Шаблонов. Импортозамещение</option>
  </select>
</div>

<div class="news-main-list">

                  <div class="news-main-list-item">
                      <a href="news-7.html" class="news-main-list-title">RDW Computers: перспективный игрок в команде Минпромторга</a>
                      <div class="news-main-list-date">13.09.2021</div>
                  </div>
                  <div class="news-main-list-item">
                      <a href="news-6.html" class="news-main-list-title">Настроение на импортозамещение</a>
                      <div class="news-main-list-date">08.09.2021</div>
                  </div>
                  <div class="news-main-list-item">
                      <a href="news-5.html" class="news-main-list-title">Бренд RDW Computers на MERLION IT Summit: ждем расширения клиентской сети!</a>
                      <div class="news-main-list-date">02.09.2021</div>
                  </div>
                  <div class="news-main-list-item">
                      <a href="news-4.html" class="news-main-list-title">Бренд RDW Computers на MERLION IT Summit: первый выход в свет </a>
                      <div class="news-main-list-date">02.09.2021</div>
                  </div>
                  <div class="news-main-list-item">
                      <a href="news-3.html" class="news-main-list-title">Материнская плата RDW включена в Реестр Минпромторга РФ</a>
                      <div class="news-main-list-date">19.07.2021 г.</div>
                  </div>
                  <div class="news-main-list-item">
                      <a href="news-2.html" class="news-main-list-title">RDW подготовил к реализации линейку техники на базе новой материнской платы российского производства</a>
                      <div class="news-main-list-date">13.04.2021 г.</div>
                  </div>
                  <div class="news-main-list-item">
                      <a href="news-1.html" class="news-main-list-title">Системные блоки RDW Office теперь доступны в рознице</a>
                      <div class="news-main-list-date">12.01.2021 г.</div>
                  </div>
</div>