<div class="news-main-img">
    <picture>
        <source media="(max-width: 500px)" srcset="img/news/news-3-320.webp">
        <source media="(max-width: 1000px)" srcset="img/news/news-3-768.webp">
        <source media="(max-width: 1400px)" srcset="img/news/news-3-1200.webp">
        <img src="img/news/news-3-1600.webp" alt="">
    </picture>
</div>



<div class="news-main-date">19 июля 2021 года</div>
<div class="news-main-title">
    <h2>Материнская плата RDW включена в Реестр Минпромторга РФ</h2>
</div>
<div class="news-main-text">
    <p>Матплата для процессоров AMD под торговой маркой RDW Computers успешно прошла экспертизу и внесена в перечень
        реестра радиоэлектронной продукции, произведенной в России.</p>
    <p>Сертификация материнской платы подтверждает, что компоненты изготовлены российской компанией и на территории РФ,
        а применяемые технологии ни в чем не уступают зарубежными аналогам. Но важнейшее свойство продуктов, включенных
        в реестр – это удобство работы с ними государственных и силовых структур.</p>
    <p>Обращаясь к продуктам из реестра при подборе оборудования, заказчик может максимально быстро и с минимумом
        канцелярских сложностей и обоснований разместить заявку на закупку. И быть уверенным, что полученная им техника
        будет полностью соответствовать российскому законодательству, регламентирующему поставки в госструктуры.</p>
    <p>На очереди внесение в реестр всей линейки оборудования и комплектующих, выпускаемого RDW: моноблоков, мониторов,
        серверов, АРМ, ПВМ и т.д. Продукты уже находятся на экспертизе, мы ожидаем ее окончания не позднее сентября 2021
        года. Это позволит государственным организациям более гибко подходить к выбору современной техники. И, надеемся,
        значительно поднимет статус понятия «компьютеры, сделанные в России».</p>

</div>

<div class="sub-nav news-main-sub-nav-mob">
    <div class="sub-nav-link">
        <a href="#">Архив</a>
    </div>
</div>