<aside id="sidebar" class="sidebar">

  <div id="nav-icon-close" class="nav-icon active"><span></span></div>

  <nav class="nav-drill">
    <ul class="nav-items nav-level-1">
      <li class="nav-item">
        <a class="nav-link" href="about.html">
          О компании
        </a>
      </li>
      <li class="nav-item nav-expand">
        <a class="nav-link nav-expand-link" href="#">
          Продукция
        </a>
        <ul class="nav-items nav-expand-content">
          <li class="nav-item nav-expand">
            <a class="nav-link nav-expand-link" href="#">
              Персональные компьютеры
            </a>
            <ul class="nav-items nav-expand-content">
              <li class="nav-item">
                <a class="nav-link" href="production.pc.apm.html">
                  АРМ
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="production.pc.pevm.html">
                  ПЭВМ
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="production.monoblocks.html">
              Моноблоки
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="production.monitors.html">
              Мониторы
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="production.barebones.html">
              Баребоны
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="production.servers.html">
              Серверы
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="production.components.html">
              Комплектующие
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="partners.html">
          Партнёрам
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="service.html">
          Сервис
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contacts.html">
          Контакты
        </a>
      </li>
    </ul>
  </nav>

</aside>