// clearing of ul, ol
@mixin clearlist(){
  margin: 0;
  padding: 0;
  list-style-type: none;
}

//clearfix for float
@mixin clearfix(){
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}