/*------------------------------------*\
  Catalog Template
\*------------------------------------*/
.catalog {
  &-intro-text {
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
  }
  .menu {
    display: none;
  }
  &-title-desk {
    display: none;
  }
  &-gallery {
    margin-bottom: 20px;
  }
  &-badge {
    display: flex;
    &-item {
      margin-right: 10px;
      height: 40px;
      img {
        object-fit: contain;
      }
    }
  }
  @media (min-width: 768px) {
    &-gallery {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
  @media (min-width: 960px) {
    margin-bottom: 75px;
    .drop-nav-mob {
      display: none;
    }
    .menu {
      display: block;
    }
    &-title-mob {
      display: none;
    }
    &-title-desk {
      display: block;
      h1, h2, h3, h4, h5 {
        margin-top: 0;
      }
    }
    &-intro-text {
      margin-bottom: 50px;
      font-size: 14px;
      line-height: 19px;
    }
  }
  @media (min-width: 1200px) {
    &-intro-text {
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.product {
  &-card {
    background: #f5f5f5;
    &-img {
      height: 280px;
      background-color: #fff;
      img {
        object-fit: contain;
      }
    }
    &-body {
      padding: 23px 40px 40px;
      background: #f5f5f5;
    }
    &-title {
      h1, h2, h3, h4, h5 {
        margin: 0 0 20px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #424242;
      }
      &-big {
        h1, h2, h3, h4, h5 {
          margin: 30px 0 35px;
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          text-transform: uppercase;
          color: #424242;
        }
      }
      &-center {
        text-align: center;
      }
    }
    &-category {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 20px;
      color: #848484;
    }
    &-info {
      overflow: hidden;
      height: 125px;
      margin-bottom: 20px;
      font-weight: 300;
      font-size: 12px;
      line-height: 16px;
      color: #424242;
      p {
        margin: 0;
      }
    }
  }
  @media (min-width: 768px) {
    &-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &-card {
      flex: 0 0 48.5%;
      &-title {
        &-big {
          h1, h2, h3, h4, h5 {
            height: 56px;
            overflow: hidden;
          }
        }
      }
    }
  }
  @media (min-width: 1200px) {
    &-card {
      &-title {
        h1, h2, h3, h4, h5 {
          font-size: 24px;
          line-height: 29px;
        }
      }
      &-info {
        height: 140px;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
  @media (min-width: 1500px) {
    &-card {
      flex: 0 0 47.6%;
    }
  }
}

.description {
  margin-top: 60px;
  h1, h2, h3, h4, h5 {
    margin-top: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  p {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
  }
  ul {
    padding-left: 25px;
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
  }
  &-body {
    margin-top: 60px;
  }
  &-footer {
    p {
      margin-bottom: 0;
      font-size: 13px;
      line-height: 22px;
    }
    small {
      font-size: 13px;
      line-height: 16px;
    }
  }
  @media (min-width: 768px) {
    h1, h2, h3, h4, h5 {
      margin-bottom: 40px;
      font-size: 20px;
      line-height: 24px;
    }
    p {
      font-size: 14px;
      line-height: 19px;
    }
    ul {
      font-size: 14px;
      line-height: 19px;
    }
    &-footer {
      p {
        margin-bottom: 0;
        font-size: 16px;
        line-height: 22px;
      }
      small {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
  @media (min-width: 1200px) {
    h1, h2, h3, h4, h5 {
      margin-bottom: 40px;
      font-size: 24px;
      line-height: 29px;
    }
    p {
      font-size: 16px;
      line-height: 22px;
    }
    ul {
      font-size: 16px;
      line-height: 22px;
    }
    .file-list-doc {
      a {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}

.table {
  margin-bottom: 30px;
  &-row {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
  }
  &-cell {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
  }
  h1, h2, h3, h4, h5 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
  }
  p {
    margin-top: 0;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
  }
  @media (min-width: 768px) {
    display: table;
    margin-bottom: 60px;
    &-row {
      display: table-row;
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none;
    }
    &-cell {
      display: table-cell;
      padding: 10px 50px 10px 0;
      border-bottom: 1px solid #e5e5e5;
      font-size: 14px;
      line-height: 19px;
      &:last-child {
        padding-right: 20px;
      }
    }
    h1, h2, h3, h4, h5 {
      font-size: 14px;
      line-height: 19px;
    }
    p {
      font-size: 14px;
      line-height: 19px;
    }
  }
  @media (min-width: 1200px) {
    &-cell {
      font-size: 16px;
      line-height: 22px;
    }
    h1, h2, h3, h4, h5 {
      font-size: 16px;
      line-height: 22px;
    }
    p {
      font-size: 16px;
      line-height: 22px;
    }
  }
}