/*------------------------------------*\
  Contacts Page
\*------------------------------------*/
.contacts {
  [class*="copyrights-pane"] {
    display: none !important;
  }
  [class*="ymaps-2-1"][class*="-ground-pane"] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  }
  &-head {
    &-map {
      .map {
        width: 100%;
        height: 440px;
        margin-bottom: 40px;
        background: transparent url(../img/contacts/map-overlay-mob.png) 0 0 no-repeat;
        background-size: cover;
      }
    }
    &-img {
      display: none;
    }
  }
  @media (min-width: 768px) {
    &-head {
      &-map {
        .map {
          background: transparent url(../img/contacts/map-overlay-tablet.png) 0 0 no-repeat;
          background-size: cover;
        }
      }
    }
  }
  @media (min-width: 1200px) {
    &-head {
      display: flex;
      &-col {
        &:first-child {
          flex: 0 0 760px;
          margin-right: 40px;
        }
      }
      &-map {
        .map {
          background: transparent url(../img/contacts/map-overlay-desk.png) 0 0 no-repeat;
          background-size: cover;
        }
      }
      &-img {
        display: block;
        max-height: 244px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}


