.center-align {
  display: flex;
  justify-content: center;
  text-align: center;
}

.center-text {
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 6.5px 18px;
  font-weight: 400;
  font-size: 17px;
  color: #fff;
  background-color: $color-accent;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
}

.title {
  h1, h2, h3, h4, h5 {
    margin: 35px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: $color-grey;
  }
  &-center {
    text-align: center;
  }
  &-top-gap {
    h1, h2, h3, h4, h5 {
      margin-top: 60px;
    }
  }
  &-semibold {
    h1, h2, h3, h4, h5 {
      font-weight: 500;
    }
  }
  &-medium {
    h1, h2, h3, h4, h5 {
      margin-bottom: 19px;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
    }
  }
  @media (min-width: 768px) {
    h1, h2, h3, h4, h5 {
      font-size: 28px;
      line-height: 34px;
    }
    &-medium {
      h1, h2, h3, h4, h5 {
        margin-bottom: 19px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
  @media (min-width: 768px) {
    h1, h2, h3, h4, h5 {
      font-size: 26px;
      line-height: 32px;
    }
  }
  @media (min-width: 1200px) {
    h1, h2, h3, h4, h5 {
      font-size: 30px;
      line-height: 37px;
    }
    &-medium {
      h1, h2, h3, h4, h5 {
        margin-bottom: 55px;
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
      }
    }
  }
}