.error {
  &-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  &-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    span {
      font-weight: 300;
      font-size: 18px;
      line-height: 22px;
      color: #424242;
      text-transform: uppercase;
    }
    div {
      font-weight: 500;
      font-size: 80px;
      line-height: 98px;
      color: #424242;
    }
  }
  @media (min-width: 768px) {
    &-block {
      span {
        font-size: 36px;
        line-height: 44px;
      }
      div {
        font-size: 120px;
        line-height: 146px;
      }
    }
  }
  @media (min-width: 768px) {
    &-block {
      span {
        font-size: 36px;
        line-height: 44px;
      }
      div {
        font-size: 120px;
        line-height: 146px;
      }
    }
  }
}
