.footer-mob {
  padding: 40px 40px 35px;
  background-color: #000;
  color: $color-lightgrey;
  &-nav {
    &-link {
      margin-bottom: 10px;
      text-align: center;
      font-size: 12px;
      line-height: 13px;
      color: $color-lightgrey;
      text-decoration: none;
    }
  }
  &-copyright {
    text-align: center;
    font-size: 12px;
    line-height: 13px;
    color: $color-lightgrey;
    text-decoration: none;
  }
  &-social {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  &-contacts {
    &-title {
      margin-top: 18px;
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      text-transform: uppercase;
      color: $color-accent;
    }
    &-item {
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 13px;
      text-align: center;
      a {
        color: $color-lightgrey;
        text-decoration: none;
      }
    }
  }
  @media (min-width: 768px) {
    display: none;
  }
}

.footer-menu {
  position: relative;
  @include clearlist();
  li {
    .active {
      a {
        color: $color-accent;
      }
    }
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    a {
			font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: $color-text;
      text-transform: none;
      white-space: nowrap;
      text-decoration: none;
    }
  }
}

.footer-menu-tablet {
  position: relative;
  top: -5px;
  @include clearlist();
  li {
    .active {
      a {
        color: $color-accent;
      }
    }
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    a {
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: $color-accent;
      text-transform: uppercase;
      white-space: nowrap;
      text-decoration: none;
    }
  }
}

.footer-desk-menu {
  &-title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $color-accent;
  }
  &-link {
    margin-bottom: 10px;
    display: block;
    font-size: 12px;
    line-height: 13px;
    color: $color-lightgrey;
    text-decoration: none;
  }
  &-item {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 13px;
    a {
      color: $color-lightgrey;
      text-decoration: none;
    }
  }
  @media (min-width: 1100px) {
    &-title {
      font-size: 14px;
      line-height: 17px;
    }
    &-link {
      font-size: 14px;
      line-height: 15px;
    }
  }
}

.footer-desk {
  display: none;
  @media (min-width: 768px) {
    display: block;
    background-color: #000;
    color: $color-lightgrey;
    &-container {
      display: flex;
      width: 662px;
      margin: 0 auto;
      padding: 30px 0 75px;
    }
    &-row {
      &:not(:last-child) {
        margin-right: 60px;
      }
      &-menu-desk {
        display: none;
      }
    }
    &-logo {
      display: block;
      width: 108px;
      height: 30px;
      flex: 0 0 108px;
      background: url(../img/elements/logo.svg);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain;
    }
    &-link {
      display: block;
      font-size: 12px;
      line-height: 13px;
      color: $color-lightgrey;
      text-decoration: none;
    }
    &-social {
      margin-bottom: 12px;
    }
  }
  @media (min-width: 960px) {
    &-container {
      width: 804px;
      justify-content: space-between;
    }
    &-row {
      flex: 0 0 14.6%;
      &:not(:last-child) {
        margin-right: 0;
      }
      &-logo {
        display: none;
      }
      &-menu-tablet {
        display: none;
      }
      &-menu-desk {
        display: block;
      }
    }
  }
  @media (min-width: 1200px) {
    &-container {
      width: 1100px;
      justify-content: space-between;
    }
    &-row {
      &-menu-desk {
        display: block;
      }
    }
  }
  @media (min-width: 1580px) {
    &-container {
      width: 1315px;
      padding: 45px 0 75px;
      justify-content: space-between;
    }
    &-row {
      flex: 0 0 10.6%;
      &:not(:last-child) {
        margin-right: 0;
      }
      &-logo {
        display: block;
      }
    }
    &-logo {
      width: 145px;
      height: 40px;
      flex: 0 0 145px;
    }
  }
}

.cookie-warning {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  text-align: center;
  text-transform: lowercase;
  font-size: 10px;
  line-height: 10px;
  color: #424242;
  background: #141414;
  a {
    color: #a6a3a3;
    text-decoration: none;
  }
  @media (min-width: 768px) {
    padding: 13px 15px;
  }
}