/*------------------------------------*\
  Contacts Page
\*------------------------------------*/
$color-error: #E21A1A;
.form{
	position: relative;
	width: 100%;
  margin-bottom: 50px;
  &-container {
    width: 100%;
    &-col {
			position: relative;
    }
  }
	&-row{
		position: relative;
		margin-bottom: 20px;
		label.error {
			position: absolute;
    	top: -15px;
    	font-size: .8rem;
    	color: $color-error;
      input[type="text"],
      input[type="email"] {
        color: $color-error;
      }
		}
    &.error {
      span {
        position: absolute;
        top: 39px;
        left: 12px;
        z-index: 1;
        color: $color-error;
        font-weight: 500;
        font-size: 11px;
      }
      input[type="text"],
      input[type="email"],
      textarea {
        color: $color-error;
        border-color: $color-error;
      }
    }
	}
	&-label {
		margin-bottom: 11px;
    font-weight: 300;
    font-size: 18px;
		line-height: 22px;
		color: $color-text;
    text-align: center;
	}
	input[type="text"],
	input[type="email"],
	textarea {
		display: block;
		width: 100%;
		height: 40px;
		padding: 10px;
    font-weight: 300;
    font-size: 12px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
		color: $color-text;
    border: none;
    border: 1px solid #C4C4C4;
		outline: none;
		transition: all ease .3s;
		&::placeholder {
		  color: $color-text;
		  opacity: 1;
		}
		&:-ms-input-placeholder {
		  color: $color-text;
		}
		&::-ms-input-placeholder {
		  color: $color-text;
		}
		&:focus {
      color: $color-error;
      border: 1px solid #424242;
		}
		&.error {
			border-color: $color-error;
		}
	}
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus {
	  -webkit-text-fill-color: $color-error;
	}
	textarea {
		height: 228px;
		resize: none;
	}
	input[type="submit"] {
		display: block;
		width: 134px;
		height: 40px;
    margin: 25px 0 0;
		background-color: $color-accent;
		border: none;
		font-size: 16px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
		text-align: center;
		color: #fff;
		outline: none;
		cursor: pointer;
		transition: all ease .3s;
		&:hover,
		&:focus {
			color: #fff;
		}
	}
  &-file {
    position: relative;
    &-btn {
      position: absolute;
      top: 0;
      left: 0;
      width: 160px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background-color: #eee;
		  border: 1px solid #000;
      color: $color-text;
    }
  }
  &-policy {
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    a {
      color: $color-accent;
      text-decoration: none;
    }
  }
  &-support {
    margin-top: 50px;
  }
	@media (min-width: 768px) {
    width: 560px;
    input[type="text"],
    input[type="email"],
    textarea {
      font-size: 16px;
    }
    &-policy {
      font-size: 14px;
    }
	}
	@media (min-width: 960px) {
    width: 100%;
    &-container {
      display: flex;
		}
    &-col {
      &:first-child {
        flex: 0 0 580px;
        margin-right: 20px;
      }
    }
    input[type="text"],
    input[type="email"],
    textarea {
      font-size: 16px;
    }
    &-support {
      margin-top: 0;
    }
	}
  @media (min-width: 1200px) {
    &-col {
      &:first-child {
        flex: 0 0 360px;
        margin-right: 40px;
      }
    }
  }
}

.support {
  &-item {
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    p {
      margin: 0;
      font-weight: 300;
      font-size: 12px;
      line-height: 16px;
    }
  }
  &-link {
    text-decoration: none;
  }
  @media (min-width: 768px) {
    &-item {
      font-size: 14px;
      line-height: 19px;
      p {
        font-size: 14px;
        line-height: 19px;
      }
    }
  }
  @media (min-width: 1200px) {
    &-item {
      font-size: 16px;
      line-height: 22px;
      p {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}

.custom-file {
  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .inputfile + label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .inputfile:focus + label,
  .inputfile.has-focus + label {
    outline: none;
  }
  .inputfile + label span {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 10px;
    font-size: 16px;
    line-height: 19px;
  }
  .inputfile + label strong {
    display: block;
		width: 152px;
		height: 40px;
    line-height: 40px;
		background-color: transparent;
		border: 1px solid #000;
		font-size: 17px;
		font-weight: 300;
    text-transform: uppercase;
		text-align: center;
		color: $color-text;
		outline: none;
		cursor: pointer;
  }
  @media (min-width: 768px) {
    .inputfile + label {
      flex-direction: row;
      justify-content: flex-start;
    }
    .inputfile + label span {
      margin-top: 0;
      margin-left: 10px;
    }
  }
}