/*------------------------------------*\
  Thumbnail Gallery
\*------------------------------------*/
.gallery {
  &-main {
    height: 280px;
    margin-bottom: 20px;
    img {
      object-fit: contain;
    }
  }
  &-ctrl {
    display: flex;
    justify-content: space-between;
    &-img {
      display: table-cell;
      vertical-align: middle;
      flex: 0 0 58px;
      width: 58px;
      height: 58px;
      border: 2px solid transparent;
      transition: all ease .3s;
      &.active {
        border: 2px solid $color-accent;
      }
      img {
        object-fit: contain;
        max-width: 58px;
        max-height: 58px;
      }
    }
  }
  @media (min-width: 768px) {
    &-wrap {
      display: flex;
    }
    &-main {
      width: 434px;
      height: 440px;
      margin-right: 40px;
    }
    &-ctrl {
      flex-direction: column;
      justify-content: flex-start;
      &-img {
        margin-bottom: 20px;
      }
    }
  }
}