/*------------------------------------*\
  Grids
\*------------------------------------*/
.product-preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 48px;
  &-item {
    display: inline-block;
    width: 280px;
    margin-bottom: 20px;
    padding: 49px 46px 41px;
    background: linear-gradient(207.37deg, #f4f2f2 1.05%, #f7f7f7 99.48%);
    border: 1px solid #e8e8e8;
  }
  &-img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 152px;
    padding: 0 40px;
    h1, h2, h3 {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: $color-grey;
    }
  }
  &-btn {
    display: flex;
    justify-content: center;
    text-decoration: none;
  }
  @media (min-width: 768px) {
    width: 100%;
    margin-bottom: 40px;
    align-items: center;
    justify-content: space-between;
    &-item {
      flex: 0 0 334px;
      padding: 49px 40px 41px;
    }
    &-img {
      height: 210px;
    }
  }
  @media (min-width: 960px) {
    &-item {
      flex: 0 0 280px;
    }
  }
  @media (min-width: 1200px) {
    &-item {
      flex: 0 0 360px;
    }
    &-img {
      height: 270px;
    }
  }
  @media (min-width: 1580px) {
    &-item {
      flex: 0 0 430px;
    }
  }
}

.news {
  position: relative;
  background: #f5f5f5;
  &-wrap {
    position: relative;
    z-index: 1;
    background: #f5f5f5;
  }
  &-item {
    margin-bottom: 20px;
  }
  &-img {
    height: 120px;
    background-size: cover;
    background-position: center;
    picture {
      width: 100%;
      height: auto;
    }
  }
  &-content {
    padding: 20px 20px 30px 38px;
    background-color: #fff;
  }
  &-data {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #848484;
  }
  &-title-main {
    h1, h2, h3, h4, h5 {
      position: relative;
      z-index: 1;
      padding-top: 30px;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #000;
    }
  }
  &-title {
    h1, h2, h3, h4, h5 {
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #000;
    }
  }
  &-pretext {
    display: none;
  }
  &-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $color-accent;
    text-decoration: none;
  }
  &-link-more {
    display: flex;
    justify-content: center;
    padding: 0 0 40px;
    a {
      display: block;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: $color-accent;
      text-decoration: none;
    }
  }
  @media (min-width: 400px) {
    &-wrap {
      width: 320px;
      margin: 0 auto;
    }
    &-title-main {
      h1, h2, h3, h4, h5 {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
  @media (min-width: 768px) {
    background: #f5f5f5;
    &-title-main {
      h1, h2, h3, h4, h5 {
        font-size: 28px;
        line-height: 34px;
      }
    }
    &-wrap {
      width: 100%;
      margin-bottom: 40px;
      padding: 0;
      overflow: hidden;
    }
    &-wrap-inner {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      overflow-x: scroll;
    }
    &-item {
      flex: 0 0 334px;
      margin-right: 20px;
    }
    &-title {
      h1, h2, h3, h4, h5 {
        height: 66px;
        overflow: hidden;
      }
    }
    &-content {
      padding: 20px 38px 80px;
    }
    &-pretext {
      display: block;
      height: 90px;
      margin-bottom: 20px;
      overflow: hidden;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      p {
        margin: 0;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
  @media (min-width: 960px) {
    &-wrap-inner {
      overflow: initial;
    }
    &-item {
      flex: 0 0 280px;
      margin-right: 20px;
    }
  }
  @media (min-width: 1200px) {
    &-item {
      flex: 0 0 360px;
      margin-right: 40px;
    }
    &-content {
      padding: 20px 38px 65px;
    }
    &-data {
      font-size: 16px;
      line-height: 20px;
    }
    &-title {
      h1, h2, h3, h4, h5 {
        height: 75px;
        font-size: 20px;
        line-height: 24px;
      }
    }
    &-pretext {
      height: 120px;
      font-size: 16px;
      line-height: 20px;
      p {
        font-size: 16px;
        line-height: 20px;
      }
    }
    &-link-more {
      font-size: 18px;
      line-height: 22px;
    }
  }
  @media (min-width: 1580px) {
    &-item {
      flex: 0 0 430px;
    }
    &-title {
      h1, h2, h3, h4, h5 {
        height: 75px;
      }
    }
  }
}

/*------------------------------------*\
  Two Col Grid
\*------------------------------------*/
.grid {
  @media (min-width: 768px) {
    display: flex;
    &-col {
      &:first-child {
        flex: 0 0 328px;
        width: 328px;
        margin-right: 28px;
      }
    }
  }
  @media (min-width: 960px) {
    &-col {
      &:first-child {
        flex: 0 0 280px;
        width: 280px;
        margin-right: 21px;
      }
    }
  }
  @media (min-width: 1200px) {
    &-col {
      &:first-child {
        flex: 0 0 360px;
        width: 360px;
        margin-right: 40px;
      }
    }
  }
}

/*------------------------------------*\
  Catalog Grid
\*------------------------------------*/
.grid-catalog {
  @media (min-width: 960px) {
    display: flex;
    &-col {
      &:first-child {
        flex: 0 0 328px;
        width: 328px;
        margin-right: 28px;
      }
    }
  }
  @media (min-width: 960px) {
    &-col {
      &:first-child {
        flex: 0 0 280px;
        width: 280px;
        margin-right: 21px;
      }
    }
  }
  @media (min-width: 1200px) {
    &-col {
      &:first-child {
        flex: 0 0 360px;
        width: 360px;
        margin-right: 40px;
      }
    }
  }
  @media (min-width: 1500px) {
    &-col {
      &:first-child {
        flex: 0 0 430px;
        width: 430px;
        margin-right: 40px;
      }
    }
  }
}

/*------------------------------------*\
  Product Grid
\*------------------------------------*/
.product {
  &-card {
    margin-bottom: 40px;
  }
  @media (min-width: 768px) {
    &-grid {
      display: flex;
      justify-content: space-between;
    }
    &-card {
      margin-bottom: 40px;
    }
  }
}