/*------------------------------------*\
  Header
\*------------------------------------*/
.header {
	position: fixed;
  top: 0;
	z-index: 5;
	width: 100%;
  background-color: #000;
  transition: all ease .3s;
  &-fixed {
    position: fixed;
  }
	&-container {
		display: flex;
		align-items: center;
    min-height: 80px;
    padding: 0 30px;
	}
	&-logo {
    display: block;
		width: 108px;
		height: 30px;
		flex: 0 0 108px;
    background: url(../img/elements/logo.svg);
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: contain;
	}
	&-icon {
    margin-left: 30px;
	}
  &-nav {
    display: none;
  }
  &-phone {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: $color-text;
    text-decoration: none;
  }
  &-search {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $color-grey;
    transition: all ease .25s;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    &.active {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
    input {
      width: 70%;
      height: 30px;
      font-weight: 300;
      font-size: 16px;
      color: #fff;
      background-color: $color-grey;
      border: none;
      border-bottom: 1px solid $color-accent;
    }
  }
	@media( min-width: 768px) {
    &-fixed {
      position: fixed;
    }
		&-container {
      width: 100%;
      align-items: center;
      padding: 0 42px 0 80px;
		}
		&-logo {
      flex: 0 0 145px;
			width: 145px;
			height: 40px;
		}
	}
  @media( min-width: 1200px) {
    position: relative;
    &-fixed {
      position: fixed;
    }
		&-icon {
			display: none;
		}
    &-nav {
      display: flex;
      flex-direction: column;
      margin-right: 0;
      width: 100%;
      margin-top: auto;
      margin-left: 30px;
      margin-right: 100px;
      transition: all ease .5s;
    }
    &-nav-top {
      margin-bottom: 4px;
    }
    &-nav-bottom {
      display: block;
    }
    &-container {
      align-items: flex-end;
      width: 1118px;
      margin: 0 auto;
      min-height: 120px;
      padding: 17px 0 40px;
      transition: all ease .5s;
    }
    &-compact {
      .auth-top {
        opacity: 0;
        visibility: hidden;
        height: 0;
        margin-bottom: 0;
      }
      .header-container {
        align-items: center;
        min-height: 0;
        padding: 10px 0 10px;
      }
      .header-nav {
        margin-top: 0;
      }
      .header-menu li .header-menu-dropdown {
        top: 60px;
      }
      .header-menu li.header-droplink:hover > a:before {
        top: 31px;
      }
    }
  }
  @media( min-width: 1580px) {
    &-container {
      width: 1488px;
      justify-content: space-between;
    }
    &-nav {
      width: 100%;
      margin-left: 90px;
      margin-right: 170px;
    }
  }
}

.header-menu {
  @include clearlist();
  display: flex;
  width: 100%;
  justify-content: space-between;
  li {
    display: inline-block;
    line-height: 0;
    &.active {
      a {
        color: $color-accent;
      }
    }
    a {
      position: relative;
      font-size: 18px;
      line-height: 1;
      color: #fff;
      text-decoration: none;
      transition: all ease-in-out .25s;
      &:hover {
        color: $color-accent;
      }
    }
    &.header-droplink {
      >a {
        padding-bottom: 40px;
        &:before {
          content: '';
          position: absolute;
          top: 44px;
          left: 0;
          display: inline-block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 12px 10px 12px;
          border-color: transparent transparent #424242 transparent;
          opacity: 0;
          visibility: hidden;
          transition: all ease-in-out .25s;
        }
      }
      &.active {
        >a {
          &:before {
            opacity: 1;
            visibility: visible;
            transition: all ease-in-out .25s;
          }
        }
        .header-menu-dropdown {
          opacity: 1;
          visibility: visible;
          transition: all ease-in-out .25s;
        }
      }
    }
    .header-menu-dropdown {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        display: block;
        width: 200vw;
        height: 100%;
        background-color: #424242;
      }
      @include clearlist();
      position: absolute;
      top: 110px;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: 40px;
      margin: 0 auto;
      background-color: $color-grey;
      opacity: 0;
      visibility: hidden;
      transition: all ease-in-out .25s;
      li {
        display: inline-block;
        &:not(:last-child) {
          margin-right: 70px;
        }
        a {
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: #fff;
          text-decoration: none;
          transition: all ease-in-out .25s;
          &:hover {
            color: $color-accent;
          }
        }
      }
    }
  }
}

.auth {
  margin-left: auto;
  &-top {
    display: none;
  }
  &-bottom {
    display: flex;
    align-items: center;
    &-phone {
      display: none;
    }
    &-lang {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      a {
        display: block;
        color: $color-grey;
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;
        &:first-child:after {
          content: '';
          display: block;
          width: 12px;
          height: 1px;
          margin: 0 auto;
          background-color: #424242;
        }
      }
    }
    &-search-icon {
      position: relative;
      display: block;
      width: 18px;
      height: 18px;
      margin-left: 20px;
      background: transparent url(../img/elements/search.svg) 0 0 no-repeat;
      background-size: cover;
      cursor: pointer;
    }
    &-search-field {
      position: absolute;
      top: 75px;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 280px;
      height: 40px;
      padding: 0 12px;
      background-color: $color-grey;
      transition: all ease .25s;
      transform: translateY(-100%);
      opacity: 0;
      visibility: hidden;
      &.active {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
      }
      input {
        width: 100%;
        height: 100%;
        font-weight: 300;
        font-size: 16px;
        color: #fff;
        background-color: $color-grey;
        border: none;
      }
    }
  }
  @media (min-width: 768px) {
    &-bottom {
      &-search {
        position: relative;
      }
      &-search-field {
        top: -10px;
        left: -280px;
        right: auto;
      }
      &-phone {
        position: relative;
        top: 1px;
        display: block;
        margin-right: 31px;
        font-weight: 600;
        font-size: 18px;
        line-height: 1;
        color: $color-accent;
        white-space: nowrap;
        text-decoration: none;
      }
    }
  }
  @media (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    &-top {
      display: flex;
      margin-left: auto;
      margin-bottom: 26px;
      transition: all ease .25s;
      &-lang {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        a {
          display: block;
          color: $color-grey;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          text-transform: uppercase;
          text-decoration: none;
          &:first-child:after {
            content: '';
            position: relative;
            top: 2px;
            display: inline-block;
            width: 1px;
            height: 14px;
            margin: 0 6px;
            background-color: #424242;
          }
        }
      }
      &-profile {
        margin-left: 30px;
        &:before {
          content: '';
          display: block;
          width: 14px;
          height: 14px;
          margin-right: 6px;
          background: transparent url(../img/elements/profile.svg) 0 0 no-repeat;
        }
        display: flex;
        color: $color-grey;
        font-size: 14px;
        line-height: 17px;
      }
    }
    &-bottom {
      &-lang {
        display: none;
      }
      &-search {
        margin-left: 30px;
      }
    }
  }
  @media( min-width: 1580px) {
    margin-left: 0;
  }
}

/*------------------------------------*\
  Header Logo Images + PNG Fallback
\*------------------------------------*/
// .webp .header-logo {
//   background-image: url(../img/logo-mob.webp);
// }
// .no-webp .header-logo {
//   background-image: url(../img/logo-mob.svg);
// }
// @media (min-width: 768px) {
//   .webp .header-logo {
//     background-image: url(../img/logo-desk.webp);
//   }
//   .no-webp .header-logo {
//     background-image: url(../img/logo-desk.svg);
//   }
// }

/*------------------------------------*\
  Nav Burger Icon
\*------------------------------------*/
$iconWidth: 36px;
$iconLineHeight: 4px;
$iconLineGap: 6px;
$colorDefault: #fff;
$colorActive: #fff;
.nav-icon {
  width: $iconWidth;
  height: $iconLineHeight * 3 + $iconLineGap * 2;
  transform: rotate(0deg);
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  &:hover,
  &:focus {
    outline: none;
  }
  span{
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: $iconLineHeight;
    background-color: $colorDefault;
    transition: all .5s cubic-bezier(.68, -.55, .265, 1.55);
  }
  &:before,
  &:after{
  	content: '';
  	position: absolute;
  	left: 0;
  	display: block;
  	width: 100%;
  	background-color: $colorDefault;
  	transition: all .5s cubic-bezier(.68, -.55, .265, 1.55);
  }
  &:before{
  	top: $iconLineHeight + $iconLineGap;
  	height: $iconLineHeight;
  }
  &:after{
  	top:  $iconLineHeight * 2 + $iconLineGap * 2;
  	height: $iconLineHeight;
  }
  &.active {
    width: 25px;
    height: 25px;
    span {
      height: 3px;
    	background-color: $colorActive;
      transform: translateY($iconLineHeight + $iconLineGap) rotate(45deg);
    }
    &:before{
    	width: 0;
    	transition: all .5s cubic-bezier(.68, -.55, .265, 1.55);
    }
    &:after{
      height: 3px;
    	background-color: $colorActive;
    	transform: translateY(-$iconLineHeight + -$iconLineGap) rotate(-45deg);
    }
  }
}
@media (min-width: 768px) {
  $iconWidth: 36px;
  $iconLineHeight: 4px;
  $iconLineGap: 6px;
  .nav-icon {
    width: $iconWidth;
    height: $iconLineHeight * 3 + $iconLineGap * 2;
    transform: rotate(0deg);
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    &:hover,
    &:focus {
      outline: none;
    }
    span{
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: $iconLineHeight;
      background-color: $colorDefault;
      transition: all .5s cubic-bezier(.68, -.55, .265, 1.55);
    }
    &:before,
    &:after{
      content: '';
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      background-color: $colorDefault;
      transition: all .5s cubic-bezier(.68, -.55, .265, 1.55);
    }
    &:before{
      top: $iconLineHeight + $iconLineGap;
      height: $iconLineHeight;
    }
    &:after{
      top:  $iconLineHeight * 2 + $iconLineGap * 2;
      height: $iconLineHeight;
    }
    &.active {
      span{
        background-color: $colorActive;
        transform: translateY($iconLineHeight + $iconLineGap) rotate(45deg);
      }
      &:before{
        width: 0;
        transition: all .5s cubic-bezier(.68, -.55, .265, 1.55);
      }
      &:after{
        background-color: $colorActive;
        transform: translateY(-$iconLineHeight + -$iconLineGap) rotate(-45deg);
      }
    }
  }
}