/*------------------------------------*\
  Mobile Static Image Replacer for Slider
\*------------------------------------*/
.promo {
  background-color: #000;
  &-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 220px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    overflow: hidden;
    img {
      min-height: 100%;
      min-width: 960px;
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &-title {
    position: relative;
    z-index: 2;
    text-decoration: none;
    h1, h2, h3, h4, h5 {
      width: 260px;
      margin: 0 auto;
      color: #fff;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &-bg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }
  &-img {
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  @media (min-width: 768px) {
    &-container {
      height: 345px;
    }
    &-title {
      h1, h2, h3, h4, h5 {
        width: 485px;
        font-size: 26px;
        line-height: 34px;
      }
    }
  }
  @media (min-width: 1200px) {
    &-container {
      height: 460px;
    }
    &-title {
      h1, h2, h3, h4, h5 {
        width: 670px;
        font-size: 36px;
        line-height: 47px;
      }
    }
  }
}

/*------------------------------------*\
  Partners Block
\*------------------------------------*/
.partners {
  display: none;
  @media (min-width: 1200px) {
    display: block;
    padding: 40px 0 180px;
    background-color: #fff;
    &-title {
      h1, h2, h3, h4, h5 {
        margin-bottom: 40px;
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
      }
    }
    &-wrap {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    &-item {
      display: inline-block;
      flex: 0 0 16.5%;
      height: 117px;
      align-self: flex-end;
      text-decoration: none;
      svg,
      picture,
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        filter: grayscale(1);
        opacity: 0.75;
        transition: all ease-in-out .3s;
      }
      &:hover,
      &:active {
        svg,
        picture,
        img{
          filter: grayscale(0);
          opacity: 1;
        }
      }
    }
    &-img-wrap {
      display: flex;
      align-items: center;
    }
  }
  @media (min-width: 1580px) {
    &-wrap {
      width: 1340px;
      margin: 0 auto;
    }
  }
}

/*------------------------------------*\
  Team
\*------------------------------------*/
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  width: 100vw;
  height: 100vh;
  .swiper-slide {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
}

