/*------------------------------------*\
  News Page
\*------------------------------------*/
.news-main {
  .title {
    margin-bottom: 40px;
  }
  .drop-nav-mob {
    margin-bottom: 40px;
    .custom-select-opener,
    .custom-select-option {
      font-weight: 300;
      font-size: 12px;
      line-height: 16px;
    }
  }
  &-list {
    display: none;
  }
  &-img {
    height: 176px;
    margin-bottom: 30px;
    img {
      object-fit: cover;
    }
  }
  &-date {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #848484;
  }
  &-title {
    h1, h2, h3, h4, h5 {
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #424242;
    }
  }
  &-text {
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    p {
      margin-bottom: 16px;
    }
    a {
      text-decoration: none;
    }
  }
  &-sub-nav-desk {
    display: none;
  }
  &-sub-nav-mob {
    display: block;
  }
  @media (min-width: 768px) {
    .title {
      text-align: center;
    }
    &-nav {
      display: none;
    }
    &-list {
      display: block;
      &-item {
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
      &-title {
        display: block;
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #000;
        text-decoration: none;
        transition: all ease-in-out .3s;
        &:hover {
          color: $color-accent;
        }
      }
      &-date {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #848484;
      }
    }
    &-img {
      height: 211px;
      margin-bottom: 30px;
    }
    &-date {
      margin-bottom: 20px;
    }
    &-title {
      h1, h2, h3, h4, h5 {
        font-size: 20px;
        line-height: 24px;
      }
    }
    &-text {
      font-size: 14px;
      line-height: 19px;
    }
    &-sub-nav-desk {
      display: block;
    }
    &-sub-nav-mob {
      display: none;
    }
  }
  @media (min-width: 960px) {
    &-img {
      height: 320px;
    }
  }
  @media (min-width: 1200px) {
    &-list {
      &-title {
        font-size: 18px;
        line-height: 22px;
      }
    }
    &-title {
      h1, h2, h3, h4, h5 {
        font-size: 24px;
        line-height: 29px;
      }
    }
    &-text {
      font-size: 16px;
      line-height: 22px;
    }
  }
}