/*------------------------------------*\
  Subheader > breadcrumbs, page title
\*------------------------------------*/
.subheader {
  padding-top: 22px;
  margin: 22px 0 35px;
  @media (min-width: 960px) {
    padding-top: 0;
    margin-bottom: 75px;
  }
}

/*------------------------------------*\
  Page Title
\*------------------------------------*/
.title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  .breadcrumbs {
    display: none;
  }
  &-text {
    max-width: 1080px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
  @media (min-width: 768px) {
    padding-top: 4px;
    .title {
      margin-bottom: 2px;
    }
    .breadcrumbs {
      display: block;
    }
  }
  @media (min-width: 1024px) {
    margin-top: 40px;
    margin-bottom: 35px;
    .breadcrumbs {
      margin-top: 5px;
    }
    &-text {
      font-size: 20px;
      line-height: 24px;
    }
  }
  @media (min-width: 1280px) {
    margin-top: 52px;
    .breadcrumbs {
      margin-top: 0;
    }
    &-text {
      margin-top: 40px;
    }
  }
}

/*------------------------------------*\
  Social links
\*------------------------------------*/
.social {
  display: flex;
  align-items: center;
  &-item{
    display: block;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    &:not(:last-child){
      margin-right: 20px;
    }
    &-vk {
      width: 23px;
      height: 14px;
      background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' width='23.57' height='14' viewBox='0 0 23.57 14'%3E%3Cpath d='M23.22,1c.16-.55,0-.95-.78-.95H19.86a1.13,1.13,0,0,0-1.13.73A21.56,21.56,0,0,1,15.57,6c-.61.6-.88.79-1.21.79-.16,0-.4-.19-.4-.73V1c0-.66-.19-.95-.73-.95H9.17a.61.61,0,0,0-.65.59c0,.62.93.77,1,2.52V6.9c0,.84-.15,1-.48,1-.87,0-3-3.21-4.26-6.89C4.55.29,4.31,0,3.65,0H1.07C.33,0,.18.35.18.73c0,.68.88,4.07,4.07,8.55C6.39,12.34,9.39,14,12.12,14c1.64,0,1.84-.37,1.84-1V10.68c0-.73.16-.88.68-.88s1,.19,2.56,1.67c1.75,1.75,2,2.53,3,2.53H22.8c.74,0,1.11-.37.9-1.1a11.36,11.36,0,0,0-2.18-3C20.92,9.17,20,8.41,19.75,8s-.28-.71,0-1.14C19.75,6.88,22.89,2.45,23.22,1Z' transform='translate(-0.18)' style='fill: %23c4c4c4;fill-rule: evenodd'/%3E%3C/svg%3E");
    }
    &-fb {
      width: 9.35px;
      height: 18px;
      background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' width='9.35' height='18' viewBox='0 0 9.35 18'%3E%3Cpath d='M6.82,18V9.79H9.58L10,6.59H6.82v-2C6.82,3.62,7.08,3,8.41,3H10.1V.13A21.77,21.77,0,0,0,7.64,0,3.86,3.86,0,0,0,3.52,4.23V6.59H.76v3.2H3.52V18Z' transform='translate(-0.76)' style='fill: %23c4c4c4'/%3E%3C/svg%3E");
    }
    &-yt {
      width: 25px;
      height: 18px;
      background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' width='25.71' height='18' viewBox='0 0 25.71 18'%3E%3Cpath d='M25.28,2.81A3.21,3.21,0,0,0,23,.54C21,0,13,0,13,0s-8,0-10,.54A3.21,3.21,0,0,0,.64,2.81,33.34,33.34,0,0,0,.1,9a33.34,33.34,0,0,0,.54,6.19,3.21,3.21,0,0,0,2.27,2.27C4.92,18,13,18,13,18s8,0,10.05-.54a3.21,3.21,0,0,0,2.27-2.27A33.34,33.34,0,0,0,25.82,9,33.34,33.34,0,0,0,25.28,2.81Z' transform='translate(-0.1)' style='fill: %23c4c4c4'/%3E%3Cpath d='M10.39,12.86,17.07,9,10.39,5.14Z' transform='translate(-0.1)'/%3E%3C/svg%3E");
    }
    &-in {
      width: 39px;
      height: 38px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cpath d='M33.48,50A16.67,16.67,0,1,1,50.14,66.67,16.67,16.67,0,0,1,33.48,50Zm-9,0A25.68,25.68,0,1,0,50.14,24.33,25.67,25.67,0,0,0,24.47,50ZM70.84,23.31a6,6,0,0,0,1,3.33,5.88,5.88,0,0,0,2.69,2.21A5.94,5.94,0,0,0,78,29.2a6.07,6.07,0,0,0,3.08-1.65,5.91,5.91,0,0,0,1.64-3.07A6,6,0,0,0,82.38,21a6,6,0,0,0-5.54-3.71h0a6,6,0,0,0-6,6ZM29.94,90.7A27.72,27.72,0,0,1,20.66,89a15.48,15.48,0,0,1-5.75-3.74,15.36,15.36,0,0,1-3.74-5.75,27.46,27.46,0,0,1-1.72-9.28c-.24-5.27-.29-6.86-.29-20.21s.05-14.93.29-20.21a27.72,27.72,0,0,1,1.72-9.28,15.56,15.56,0,0,1,3.74-5.75A15.36,15.36,0,0,1,20.66,11,27.46,27.46,0,0,1,29.94,9.3C35.21,9.06,36.8,9,50.14,9s14.94.05,20.21.29A27.8,27.8,0,0,1,79.64,11a15.44,15.44,0,0,1,5.75,3.74,15.56,15.56,0,0,1,3.74,5.75,27.74,27.74,0,0,1,1.72,9.29c.24,5.27.29,6.85.29,20.2s0,14.93-.29,20.21a28,28,0,0,1-1.72,9.28A16.55,16.55,0,0,1,79.64,89a27.48,27.48,0,0,1-9.29,1.72c-5.27.24-6.85.29-20.21.29s-14.93,0-20.2-.29ZM29.53.3A36.79,36.79,0,0,0,17.39,2.63,24.43,24.43,0,0,0,8.54,8.39a24.41,24.41,0,0,0-5.77,8.86A36.51,36.51,0,0,0,.45,29.39C.2,34.72.14,36.42.14,50S.2,65.28.45,70.61A36.51,36.51,0,0,0,2.77,82.75a24.41,24.41,0,0,0,5.77,8.86,24.61,24.61,0,0,0,8.85,5.76A36.85,36.85,0,0,0,29.53,99.7c5.33.24,7,.3,20.61.3s15.29-.06,20.62-.3A36.79,36.79,0,0,0,82.9,97.37,25.55,25.55,0,0,0,97.52,82.75a36.51,36.51,0,0,0,2.32-12.14c.24-5.33.3-7,.3-20.61s-.06-15.28-.3-20.61a36.51,36.51,0,0,0-2.32-12.14,24.63,24.63,0,0,0-5.77-8.86A24.43,24.43,0,0,0,82.9,2.63,36.54,36.54,0,0,0,70.76.3c-5.33-.24-7-.3-20.61-.3S34.87.06,29.53.3' transform='translate(-0.14)'/%3E%3C/svg%3E");
    }
    &-in-accent {
      width: 39px;
      height: 38px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23E6007E' viewBox='0 0 100 100'%3E%3Cpath d='M33.48,50A16.67,16.67,0,1,1,50.14,66.67,16.67,16.67,0,0,1,33.48,50Zm-9,0A25.68,25.68,0,1,0,50.14,24.33,25.67,25.67,0,0,0,24.47,50ZM70.84,23.31a6,6,0,0,0,1,3.33,5.88,5.88,0,0,0,2.69,2.21A5.94,5.94,0,0,0,78,29.2a6.07,6.07,0,0,0,3.08-1.65,5.91,5.91,0,0,0,1.64-3.07A6,6,0,0,0,82.38,21a6,6,0,0,0-5.54-3.71h0a6,6,0,0,0-6,6ZM29.94,90.7A27.72,27.72,0,0,1,20.66,89a15.48,15.48,0,0,1-5.75-3.74,15.36,15.36,0,0,1-3.74-5.75,27.46,27.46,0,0,1-1.72-9.28c-.24-5.27-.29-6.86-.29-20.21s.05-14.93.29-20.21a27.72,27.72,0,0,1,1.72-9.28,15.56,15.56,0,0,1,3.74-5.75A15.36,15.36,0,0,1,20.66,11,27.46,27.46,0,0,1,29.94,9.3C35.21,9.06,36.8,9,50.14,9s14.94.05,20.21.29A27.8,27.8,0,0,1,79.64,11a15.44,15.44,0,0,1,5.75,3.74,15.56,15.56,0,0,1,3.74,5.75,27.74,27.74,0,0,1,1.72,9.29c.24,5.27.29,6.85.29,20.2s0,14.93-.29,20.21a28,28,0,0,1-1.72,9.28A16.55,16.55,0,0,1,79.64,89a27.48,27.48,0,0,1-9.29,1.72c-5.27.24-6.85.29-20.21.29s-14.93,0-20.2-.29ZM29.53.3A36.79,36.79,0,0,0,17.39,2.63,24.43,24.43,0,0,0,8.54,8.39a24.41,24.41,0,0,0-5.77,8.86A36.51,36.51,0,0,0,.45,29.39C.2,34.72.14,36.42.14,50S.2,65.28.45,70.61A36.51,36.51,0,0,0,2.77,82.75a24.41,24.41,0,0,0,5.77,8.86,24.61,24.61,0,0,0,8.85,5.76A36.85,36.85,0,0,0,29.53,99.7c5.33.24,7,.3,20.61.3s15.29-.06,20.62-.3A36.79,36.79,0,0,0,82.9,97.37,25.55,25.55,0,0,0,97.52,82.75a36.51,36.51,0,0,0,2.32-12.14c.24-5.33.3-7,.3-20.61s-.06-15.28-.3-20.61a36.51,36.51,0,0,0-2.32-12.14,24.63,24.63,0,0,0-5.77-8.86A24.43,24.43,0,0,0,82.9,2.63,36.54,36.54,0,0,0,70.76.3c-5.33-.24-7-.3-20.61-.3S34.87.06,29.53.3' transform='translate(-0.14)'/%3E%3C/svg%3E");
    }
    &-tw {
      width: 37px;
      height: 32px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='543.68' height='460.39' viewBox='0 0 543.68 460.39'%3E%3Cpath d='M527.66,106.7q-4,1.17-8,2.19c-16.39,4.14-17.89-1.32-6-13.37a109.26,109.26,0,0,0,14.08-17.6c9.14-14.22,1.21-20.42-14.33-13.78q-8.33,3.56-16.9,6.43c-16,5.38-38.75-2.73-53-11.79q-27-17.13-61.44-17.13-48.19,0-82.19,34t-34,82.19a121.63,121.63,0,0,0,.75,13.38c.81,7.36-11.59,12.7-28.32,10.34a321.61,321.61,0,0,1-103.17-32.89A330.88,330.88,0,0,1,49.49,85.71c-11.82-12.09-27.8-11-32.22,5.27a116.58,116.58,0,0,0-3.95,30.52,113.2,113.2,0,0,0,14,55.39,119.38,119.38,0,0,0,16.35,23C54.22,211.43,52.61,218.14,38,214s-25.37-10.2-25.37-9.8V205Q12.59,247,39,278.86a115.58,115.58,0,0,0,37.83,30.28c15.15,7.5,22.2,11.69,13.73,12.78a118.48,118.48,0,0,1-15.42,1q-5.25,0-11-.49c-6.06-.51-7.15,12.11,2,26.3a116.26,116.26,0,0,0,28,29.76,113.81,113.81,0,0,0,37.41,18.8c16.26,4.63,19.52,13.07,5,21.76Q82.88,451.33,17.62,451.33q-7.35,0-14-.33C-4.18,450.63,1,457.46,16,465.3Q86.16,502.05,168,502q61.86,0,116.18-19.6t92.79-52.52a351.3,351.3,0,0,0,66.36-75.71,337.43,337.43,0,0,0,41.55-89.37A330.52,330.52,0,0,0,498.5,171.5c0-2.81,0-5.34-.06-7.56-.09-4.17,10.95-15.47,23.28-27q8.34-7.83,15.93-16.44C548.83,107.78,543.88,102,527.66,106.7Z' transform='translate(0 -41.65)'/%3E%3C/svg%3E%0A");
    }
  }
  &-small {
    .social-item-in {
      width: 23px;
      height: 23px;
    }
    .social-item-fb {
      width: 12px;
      height: 23px;
    }
    .social-item-tw {
      width: 23px;
      height: 19px;
    }
  }
}

/*------------------------------------*\
  Breadcrumbs
\*------------------------------------*/
.breadcrumbs {
  @include clearlist();
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  line-height: 15px;
  li {
    display: flex;
    align-content: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: lowercase;
    color: #d1d1d1;
    a {
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      text-decoration: none;
      color: $color-accent;
      text-transform: lowercase;
      transition: all ease .3s;
    }
    &:not(:last-child) {
      &:after {
        content: '>';
        position: relative;
        top: 1px;
        display: inline-block;
        font-size: 16px;
        line-height: 15px;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    &:last-child {
      color: #d1d1d1;
      a {
        color: $color-text;
        pointer-events: none;
        transition: all ease .3s;
      }
    }
  }
}

/*------------------------------------*\
  Mobile Dropdown Navigation
\*------------------------------------*/
.drop-nav-mob {
  margin-bottom: 35px;
  @media (min-width: 1280px) {
    display: none;
  }
}

.clear-list {
  @include clearlist();
}

/*------------------------------------*\
  Tabs
\*------------------------------------*/
.tab-wrap {
  &-select {
    max-width: 300px;
    margin-bottom: 40px;
  }
  @media (min-width: 1200px) {
    &-select {
      display: none;
    }
  }
}

.tab-head-desk {
  display: none;
  @media (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-accent;
    margin-bottom: 40px;
    &-btn {
      padding: 10px 15px;
      color: $color-text;
      font-weight: 500;
      font-size: 18px;
      line-height: 1;
      cursor: pointer;
      &.active {
        box-shadow:
        0 -1px 0 $color-accent,
        -1px 0 0 $color-accent,
        1px 0 0 $color-accent;
        border-bottom: none;
        color: $color-accent;
        //border: 1px solid $color-accent;
      }
    }
    &-mob {
      display: none;
    }
  }
}

.tab-content {
  &-item {
    display: none;
  }
  &-title {
    h1, h2, h3, h4, h5 {
      margin-top: 0;
      margin-bottom: 15px;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
    }
  }
  &-text {
    h1, h2, h3, h4, h5 {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }
    p {
      font-size: 12px;
      font-weight: 300;
      &:first-child {
        margin-top: 0;
      }
    }
    ul {
      padding-left: 25px;
      font-size: 12px;
      font-weight: 300;
    }
  }
  &-side-img {
    display: none;
  }
  @media (min-width: 768px) {
    &-title {
      h1, h2, h3, h4, h5 {
        margin-bottom: 40px;
        font-size: 20px;
        line-height: 24px;
      }
    }
    &-text {
      h1, h2, h3, h4, h5 {
        font-size: 20px;
        line-height: 24px;
      }
      p {
        font-size: 14px;
        line-height: 18.9px;
      }
      ul {
        font-size: 14px;
        line-height: 18.9px;
      }
    }
  }
  @media (min-width: 960px) {
    &-title {
      h1, h2, h3, h4, h5 {
        margin-bottom: 40px;
      }
    }
    &-flex {
      display: flex;
      &-col {
        &:first-child {
          flex: 0 0 64%;
          margin-right: 5%;
        }
      }
      &-col {
        &:last-child {
          flex: 0 0 31%;
          align-self: start;
        }
      }
    }
    &-side-img {
      display: block;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  @media (min-width: 1200px) {
    &-title {
      h1, h2, h3, h4, h5 {
        font-size: 24px;
        line-height: 29px;
      }
    }
    &-text {
      p {
        font-size: 16px;
        line-height: 21.6px;
      }
      ul {
        font-size: 16px;
        line-height: 21.6px;
      }
    }
  }
}

.file-list {
  max-width: 1290px;
  &-item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E5E5E5;
  }
  &-title {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
  }
  &-doc {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    a {
      text-decoration: none;
    }
    &:before {
      content: '';
      display: block;
      flex: 0 0 34px;
      width: 34px;
      height: 32px;
      margin-right: 20px;
      background: transparent url(../img/elements/icon-pdf-2.svg) 0 0 no-repeat;
      background-size: contain;
    }
  }
  @media (min-width: 768px) {
    &-item {
      display: flex;
    }
    &-title {
      flex: 0 0 440px;
      margin-right: 20px;
      margin-bottom: 0;
      font-weight: 300;
      font-size: 14px;
      line-height: 19px;
    }
    &-doc {
      margin-bottom: auto;
      font-size: 14px;
      line-height: 19px;
    }
  }
  @media (min-width: 960px) {
    &-title {
      flex: 0 0 545px;
      margin-right: 40px;
    }
  }
  @media (min-width: 1200px) {
    &-title {
      flex: 0 0 825px;
      margin-right: 50px;
    }
  }
}

/*------------------------------------*\
  Navigation Menu Catalog
\*------------------------------------*/
.menu-wrap {
  padding: 0 28px;
  @media (min-width: 1200px) {
    padding: 0 69px;
  }
  @media (min-width: 1500px) {
    padding: 0 103px;
  }
}
.menu {
  @include clearlist();
  ul {
    @include clearlist();
  }
  &-item {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 22px;
    color: $color-accent;
    a {
      position: relative;
      z-index: 1;
      padding-right: 35px;
      display: block;
      text-decoration: none;
    }
    > a {
      font-weight: 500;
    }
    &.active {
      > a {
        color: #000;
      }
    }
  }
  &-dropdown {
    &-icon {
      position: absolute;
      top: 0px;
      right: 0;
      z-index: 3;
      display: block;
      width: 30px;
      height: 30px;
      background: transparent url(../img/elements/icon-shevron.svg) center no-repeat;
      background-size: 20px 11px;
      cursor: pointer;
      transition: all ease-in-out .3s;
    }
    ul {
      opacity: 0;
      visibility: hidden;
      height: 0;
      overflow: hidden;
      transition: all ease .3s;
      li {
        margin-bottom: 8px;
        a {
          font-weight: 300;
          font-size: 16px;
          line-height: 20px;
          color: $color-accent;
        }
      }
    }
    &.drop {
      ul {
        opacity: 1;
        visibility: visible;
        padding-top: 8px;
        height: auto;
      }
      .menu-dropdown-icon {
        transform: rotate(180deg);
      }
    }
  }
  @media (min-width: 1500px) {
  }
}

/*------------------------------------*\
  Additional Navigation
\*------------------------------------*/
.sub-nav {
  padding: 30px 0 25px;
  &-link {
    text-align: center;
    a {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      text-decoration: none;
      color: $color-accent;
    }
  }
  @media (min-width: 960px) {
    padding: 30px 0 45px;
    &-link {
      a {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}

